[Unit]
Description=Orion's distributed currency daemon
After=network.target

[Service]
User=orion
Group=orion

Type=forking
PIDFile=/var/lib/oriond/oriond.pid

ExecStart=/usr/bin/oriond -daemon -pid=/var/lib/oriond/oriond.pid \
          -conf=/etc/orion/orion.conf -datadir=/var/lib/oriond

ExecStop=-/usr/bin/orion-cli -conf=/etc/orion/orion.conf \
         -datadir=/var/lib/oriond stop

Restart=always
PrivateTmp=true
TimeoutStopSec=60s
TimeoutStartSec=2s
StartLimitInterval=120s
StartLimitBurst=5

[Install]
WantedBy=multi-user.target
